In [59]:
import pandas as pd
import statistics as sta
from datetime import date
import numpy as np

In [60]:
df = pd.read_excel(r"files/dbo_Req755_ProceduresDetails.xlsx")
df2 = pd.read_excel(r"files/dbo_Req755_DataFromBridgeSystem.xlsx")

In [61]:
df = pd.read_excel(r"files/dbo_Req755_ProceduresDetails.xlsx")

df2 = pd.read_excel(r"files/dbo_Req755_DataFromBridgeSystem.xlsx")

df['duration']=( df['ProcedureDateCompletion']-df['ProcedureDate'] )/np.timedelta64(1,'h')

print(df['duration'])

SurgeryDate=[]
for i in df['ProcedureDate']:
    temp = i.strftime('%Y-%m-%d')
    SurgeryDate.append( date.fromisoformat(temp))
df['SurDate'] = SurgeryDate


SDate=[]
for j in df2['SurgeryDate']:
    temp = j.strftime('%Y-%m-%d')
    SDate.append( date.fromisoformat(temp))
df2['SurDate'] = SDate
data = df.merge(df2, how='inner', on=["PID", "SurDate"])
data.head()

0        1.525000
1        1.023611
2        2.955833
3        3.563333
4        0.795278
           ...
11113    2.121667
11114    0.363056
11115    1.991667
11116    0.612778
11117    0.964722
Name: duration, Length: 11118, dtype: float64

,PID,HospEncounterID,ProcedureID,ProcedureDate,ProcedureDateCompletion,ReportText,duration,SurDate,Teudat_Zehut,Ms_nituah,...,Status,Urgency,Sug_Misgeret,Type_of_surgery,Ready_For_Introduction,Sug_Hardama,Rentgen,Manot_Dam,OperationDesc,OperationType
0,5716942140,32821661,1070647,2020-05-14 12:28:58,2020-05-14 13:30:23,בהרדמה כללית רחצה כיסוי וחיטוי\r\nכריתת הרקטום...,1.023611,2020-05-14,1026607,2020502388,...,3,ר,1,158,NaN,1,ל,0,פרוקטו רקטום+פי הטבעת 06,E6
1,5684714336,34114214,1021327,2019-07-09 09:09:22,2019-07-09 12:06:43,כריתת חלחולת (ללא איליאוסטומיה) – LOW ANTERIOR...,2.955833,2019-07-09,1042281,2019510480,...,3,ר,1,158,NaN,1,ל,2,מעי גס 051,50
2,5714156343,35055124,1056739,2020-01-17 09:35:11,2020-01-17 13:08:59,"בהרדמה כללית ,שכיבה על גב , רחצה וכיסוי סטרילי...",3.563333,2020-01-17,1046893,2020000818,...,9,ר,1,206,NaN,1,כ,0,NaN,NaN
3,5714114350,34979873,1052533,2020-01-08 12:27:49,2020-01-08 13:15:32,\r\nמטופלת לאחר כריתת פוליפ רקטאלי בקיר קדמי ....,0.795278,2020-01-08,1056203,2020500573,...,3,ר,1,158,NaN,1,ל,0,פרוקטו רקטום+פי הטבעת 06,E6
4,5706477035,35946466,1085274,2020-08-06 10:44:30,2020-08-06 11:38:09,"\r\nהרדמה כללית, חיטוי וכיסוי כמקובל.\r\nחתך ר...",0.894167,2020-08-06,1105152,2020511301,...,3,ר,1,26,NaN,1,ל,0,הרניה 06,33

In [62]:
#merge_tables_dbo_Req755_ProceduresDetails_dbo_Req755_DataFromBridgeSystem

df = pd.read_excel(r"files/dbo_Req755_ProceduresDetails.xlsx")
df2 = pd.read_excel(r"files/dbo_Req755_DataFromBridgeSystem.xlsx")

df['duration']=( df['ProcedureDateCompletion']-df['ProcedureDate'] )/np.timedelta64(1,'h')
print(df['duration'])
SurgeryDate=[]
for i in df['ProcedureDate']:
    temp = i.strftime('%Y-%m-%d')
    SurgeryDate.append( date.fromisoformat(temp))
df['SurDate'] = SurgeryDate


SDate=[]
for j in df2['SurgeryDate']:
    temp = j.strftime('%Y-%m-%d')
    SDate.append( date.fromisoformat(temp))
df2['SurDate'] = SDate


data = df.merge(df2, how='inner', on=["PID", "SurDate"])
#data.to_excel(r"files/merge_tables_dbo_Req755_ProceduresDetails_dbo_Req755_DataFromBridgeSystem.xlsx")

0        1.525000
1        1.023611
2        2.955833
3        3.563333
4        0.795278
           ...
11113    2.121667
11114    0.363056
11115    1.991667
11116    0.612778
11117    0.964722
Name: duration, Length: 11118, dtype: float64

In [63]:
oper = pd.read_csv(r"files/Operations_all.csv")

In [64]:
res1 = pd.DataFrame()
res2 = pd.DataFrame()
for index, row in oper.iterrows():
    surgeryType_temp=row['Type_of_surgery']
    operType_temp=row['OperationType']
    OperationDesc_temp=row['OperationDesc']
    type_name = 'type' + str(surgeryType_temp)+"-"+str(operType_temp)

    df_temp = data[data['Type_of_surgery'] == surgeryType_temp]
    mask= df_temp['OperationType'] == operType_temp
    mask2=data['OperationType'] == operType_temp
    final= df_temp[mask]
    if len(final)>0:
        if len(final)>1:
            x=list(final['duration'])
            res1 = res1.append({'Type_of_surgery':surgeryType_temp,
                          'OperationType':operType_temp,
                              'OperationDesc':OperationDesc_temp,
                               'length': len(x),
                               'avg': sta.mean(x),
                               'sd': sta.stdev(x),
                              'list_of_duration': x},
                              ignore_index=True)

            cond = data['ProcedureID'].isin(final['ProcedureID'])
            data.drop(data[cond].index, inplace=True)
        if len(final)==1:
            x=list(final['duration'])
            res2 = res2.append({'Type_of_surgery':surgeryType_temp,
                          'OperationType':operType_temp,
                            'OperationDesc':OperationDesc_temp,
                               'length': len(x),
                               'avg': sta.mean(x),
                                'list_of_duration': x},
                              ignore_index=True)

            cond = data['ProcedureID'].isin(final['ProcedureID'])
            data.drop(data[cond].index, inplace=True)

In [65]:
res1

,OperationDesc,OperationType,Type_of_surgery,avg,length,list_of_duration,sd
0,הרניה 06,33,26.0,0.888587,176.0,"[0.8941666666666667, 1.105, 0.9786111111111111...",0.277584
1,מעי גס 051,50,158.0,3.067114,64.0,"[2.9558333333333335, 3.636111111111111, 4.3355...",1.077414
2,"עמ""ש 024(מבוגרים)",51,46.0,4.970605,45.0,"[4.923055555555556, 8.329444444444444, 6.58833...",1.760023
3,בלוטות לימפה 07,73,124.0,0.656235,63.0,"[0.5672222222222222, 0.6527777777777778, 0.583...",0.264419
4,קיבה 05 ()LAP,2,42.0,1.261255,270.0,"[1.1094444444444445, 1.8683333333333334, 1.186...",0.325605
...,...,...,...,...,...,...,...
192,גפה תחתונה 06(מבוגרים),30,253.0,2.187639,2.0,"[1.8244444444444445, 2.5508333333333333]",0.513635
193,גפה עליונה 06(מבוגרים),25,121.0,1.525000,2.0,"[0.8383333333333334, 2.2116666666666664]",0.971093
194,שונות 03(מבוגרים),53,120.0,0.463333,2.0,"[0.4197222222222222, 0.5069444444444444]",0.061675
195,מעי גס 021,47,186.0,1.614352,3.0,"[1.441111111111111, 1.8280555555555555, 1.5738...",0.196620
196,"עמ""ש 024(מבוגרים)",51,48.0,5.425648,6.0,"[5.032777777777778, 12.294722222222223, 3.5122...",3.461428

In [66]:
res2

,OperationDesc,OperationType,Type_of_surgery,avg,length,list_of_duration
0,בטן 06 ()LAP,B8,86.0,1.517222,1.0,[1.5172222222222222]
1,פרוקטו רקטום+פי הטבעת 03,E4,66.0,0.886389,1.0,[0.8863888888888889]
2,שונות 081(מבוגרים),58,120.0,1.006667,1.0,[1.0066666666666666]
3,גפה תחתונה 021(מבוגרים),32,181.0,3.375556,1.0,[3.3755555555555556]
4,מעי דק 011,60,222.0,2.235000,1.0,[2.235]
...,...,...,...,...,...,...
168,החלפת מפרקים 021(מבוגרים),40,372.0,0.266111,1.0,[0.26611111111111113]
169,פרוקטו רקטום+פי הטבעת 04,E5,222.0,1.712778,1.0,[1.7127777777777777]
170,מעי גס 021,47,158.0,0.718056,1.0,[0.7180555555555556]
171,קיבה 061,28,86.0,1.973056,1.0,[1.9730555555555556]
172,לבלב 08,91,143.0,3.751389,1.0,[3.751388888888889]

In [67]:
res= res1.append(res2)
res

,OperationDesc,OperationType,Type_of_surgery,avg,length,list_of_duration,sd
0,הרניה 06,33,26.0,0.888587,176.0,"[0.8941666666666667, 1.105, 0.9786111111111111...",0.277584
1,מעי גס 051,50,158.0,3.067114,64.0,"[2.9558333333333335, 3.636111111111111, 4.3355...",1.077414
2,"עמ""ש 024(מבוגרים)",51,46.0,4.970605,45.0,"[4.923055555555556, 8.329444444444444, 6.58833...",1.760023
3,בלוטות לימפה 07,73,124.0,0.656235,63.0,"[0.5672222222222222, 0.6527777777777778, 0.583...",0.264419
4,קיבה 05 ()LAP,2,42.0,1.261255,270.0,"[1.1094444444444445, 1.8683333333333334, 1.186...",0.325605
...,...,...,...,...,...,...,...
168,החלפת מפרקים 021(מבוגרים),40,372.0,0.266111,1.0,[0.26611111111111113],NaN
169,פרוקטו רקטום+פי הטבעת 04,E5,222.0,1.712778,1.0,[1.7127777777777777],NaN
170,מעי גס 021,47,158.0,0.718056,1.0,[0.7180555555555556],NaN
171,קיבה 061,28,86.0,1.973056,1.0,[1.9730555555555556],NaN
172,לבלב 08,91,143.0,3.751389,1.0,[3.751388888888889],NaN

In [68]:
res.to_excel(r"files/duration_data.xlsx", index=False)